

@media screen and (min-width:992px) and (max-width: 1199.98px){
    .info .container .row .cal .cal-items{
        margin-top: 120px;
    }
    
    section.search .container .row .title ul li{
        font-size: 1.4rem;
        padding: 2px;
    }
}

@media screen and (max-width:991.98px){
    .info .container .row{
        flex-direction: column;
        flex-wrap: wrap;
    }

    .info .container .row .cal,
    .info .container .row .news{
        width: 100%;
    }

    .info .container .row .cal{
        order: 1;
    }
    

    .info .container .row .news .new-event,
    .info .container .row .news .new-group,
    .info .container .row .news .new-bulletin{
        width: 90%;
        padding-top:10px;
        margin: 0 auto 20px;
    }

    .info .container .row .cal .cal-items{
        margin-top: 50px;
    }
}

@media screen and (min-width:768px) and (max-width: 991.98px){   
    section.search .container .row .search-bar{
        width: 300px;
    }
    
    section.search .container .row .title ul{
        width: 95%;
    }

    section.search .container .row .title ul li{
        font-size: 1.4rem;
        padding: 2px;
    } 
    
    .latest-news{
        height: 50px;
    }

    .latest-news img{
        width: 150px;
        top: -40px;
    }

    .latest-news h1{
        font-size: 2rem;
        left:calc(50% + 100px);
    }

    .latest-news h3{
        left:calc(50% + 150px);
        top:45px;
    }
}


@media screen and (max-width:767.98px) {
    section.search .container .row{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    section.search .container .row .search,
    section.search .container .row .title{
        width: 100%;
    }

    section.search .container .row .title{
        margin-top: 20px;
    }

    section.search .container .row .title ul{
        width: 90%;
        margin-left: 5%;
    }
    
     .latest-news{
        height: 50px;
    }

    .latest-news img{
        width: 150px;
        top: -40px;
        left: 30%;
    }

    .latest-news h1{
        font-size: 2rem;
        left:40%;
    }

    .latest-news h3{
        left:50%;
        top:45px;
    }
}

@media screen and (max-width:575.98px) {
    section.search .container .row .title ul li{
    	font-size:1.4rem;
    }
    
    .latest-news h1{
    	font-size: 2rem;
    	left:40%;
    }
}
